# The New Approach (Merging Rows Approch)

In [69]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import RandomOverSampler
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import RandomizedSearchCV
import warnings
warnings.filterwarnings('ignore')

# Reading the Data

In [2]:
train_data = pd.read_csv("train_data.csv", na_values=[" ","?","#"])
test_data = pd.read_csv("test_data.csv", na_values=[" ", "?", "#"])
assembly_line_data = pd.read_csv("assembly_line_info.csv", na_values=[" ", "?", "#"])
car_variant_data = pd.read_csv("car_variant_data.csv", na_values=[" ", "?", "#"])
issue_info_data = pd.read_csv("issue_info.csv", na_values=[" ", "?", "#"])
log_report_type_data = pd.read_csv("log_report_type_data.csv", na_values=[" ", "?", "#"])

In [3]:
print("The shape of train data is: ",train_data.shape)
print("The shape of test data is: ",test_data.shape)
print("The shape of assembly line data is: ",assembly_line_data.shape)
print("The shape of car variant data is: ",car_variant_data.shape)
print("The shape of issue info data is: ",issue_info_data.shape)
print("The shape of the log report data is: ",log_report_type_data.shape)

The shape of train data is:  (5904, 3)
The shape of test data is:  (1477, 2)
The shape of assembly line data is:  (21076, 2)
The shape of car variant data is:  (31170, 2)
The shape of issue info data is:  (18552, 2)
The shape of the log report data is:  (58671, 3)

In [4]:
train_data.head()

      id      factory_number  downtime_duration
0  13366  factory_number_415                  1
1   6783  factory_number_474                  0
2   9519  factory_number_931                  1
3  10202  factory_number_700                  1
4   4555  factory_number_600                  2

In [5]:
train_data.downtime_duration.value_counts()

0    3827
1    1496
2     581
Name: downtime_duration, dtype: int64

In [6]:
test_data.head()

      id      factory_number
0   3340  factory_number_344
1  14067  factory_number_933
2   1134   factory_number_16
3     27  factory_number_793
4   9793  factory_number_344

In [7]:
print(assembly_line_data.shape) 
print(assembly_line_data.id.nunique())
assembly_line_data.head()

(21076, 2)
18552

     id    assembly_line_type
0  6597  assembly_line_type_8
1  8011  assembly_line_type_8
2  2597  assembly_line_type_8
3  5022  assembly_line_type_8
4  6852  assembly_line_type_8

In [99]:
print(issue_info_data.shape)
print(issue_info_data.id.nunique())
print(issue_info_data.issue_type.nunique())
issue_info_data.head()

(18552, 2)
18552
5

       id  issue_type
10448   1           1
8351    2           2
10957   3           1
11106   4           4
7736    5           2

In [103]:
print(car_variant_data.shape)
print(car_variant_data.id.nunique())
print(car_variant_data.car_variant.nunique())
car_variant_data.head()

(31170, 2)
18552
53

       id  car_variant
18299   1           11
18300   1           13
14536   2           34
14535   2           35
19226   3           11

In [104]:
print(log_report_type_data.shape)
print(log_report_type_data.id.nunique())
print(log_report_type_data.log_report_type.nunique()) 
log_report_type_data.head()

(58671, 2)
18552
386

       id  log_report_type
36197   1               68
36199   1              179
36198   1              345
27670   2              233
27669   2              235

In [8]:
# renaming thr column values, sorting and changing the type to int
assembly_line_data.assembly_line_type = assembly_line_data["assembly_line_type"].str.replace("assembly_line_type_","")
assembly_line_data.assembly_line_type = assembly_line_data.assembly_line_type.astype("int")
assembly_line_data = assembly_line_data.sort_values(by=["id","assembly_line_type"])
assembly_line_data.head()

       id  assembly_line_type
11285   1                   6
11284   1                   8
9069    2                   2
11953   3                   8
12102   4                   2

In [9]:
# This function merges rows into one cell based on id
def merge_rows(data,id_col,merge_col):
    unique_id = data[id_col].unique() # get unique names
    new_data = []                 # data list for output dataframe
    for u in unique_id:          # for each unique name
        subdf = data[data[id_col] == u] # get rows with this unique name
        s = ""
        for i in subdf[merge_col]:
            s += ""+str(i)+","      # join all info cells for that name
        new_data.append([u, s[:-1]])

    newdf = pd.DataFrame(data=new_data, columns=[id_col,merge_col])
    return newdf

In [10]:
# Merging the assembly data based on id
assembly_line_data_merged =merge_rows(assembly_line_data,id_col="id",merge_col="assembly_line_type")

In [11]:
assembly_line_data_merged.head()

   id assembly_line_type
0   1                6,8
1   2                  2
2   3                  8
3   4                  2
4   5                  2

In [12]:
# renaming thr column values, sorting and changing the type to int
car_variant_data.car_variant = car_variant_data["car_variant"].str.replace("car_variant_","")
car_variant_data.car_variant = car_variant_data.car_variant.astype("int")
car_variant_data = car_variant_data.sort_values(by=["id","car_variant"])
car_variant_data.head()

       id  car_variant
18299   1           11
18300   1           13
14536   2           34
14535   2           35
19226   3           11

In [13]:
# Merging the car_variant data based on id
car_variant_data_merged = merge_rows(car_variant_data, id_col="id", merge_col="car_variant")

In [14]:
car_variant_data_merged.head()

   id car_variant
0   1       11,13
1   2       34,35
2   3          11
3   4          47
4   5       34,35

In [15]:
# renaming thr column values, sorting, changing the type to int and aggregating the volume column
log_report_type_data.log_report_type = log_report_type_data["log_report_type"].str.replace("log_report_type_","")
log_report_type_data.log_report_type = log_report_type_data.log_report_type.astype("int")
log_report_type_data = log_report_type_data.sort_values(by=["id","log_report_type"])
log_report_type_data_aggregated = log_report_type_data.groupby("id",as_index=False).agg({"volume":"sum"})
log_report_type_data.head()

       id  log_report_type  volume
36197   1               68       2
36199   1              179       1
36198   1              345       2
27670   2              233       1
27669   2              235       1

In [16]:
# Dropping the Volume Column
log_report_type_data.drop("volume", axis =1,inplace=True)

In [17]:
# merging the log_report_type based on id
log_report_type_data_merged = merge_rows(log_report_type_data,id_col="id", merge_col="log_report_type")

In [18]:
log_report_type_data_merged.head()

   id      log_report_type
0   1           68,179,345
1   2  233,235,312,313,315
2   3                  171
3   4                  370
4   5              232,312

In [19]:
#Combining the merged log_report_type and aggregated Volume data
log_report_type_data_aggregated_merged = pd.merge(log_report_type_data_merged,
                                                  log_report_type_data_aggregated, on="id",
                                                 how="left")

In [20]:
log_report_type_data_aggregated_merged.head()

   id      log_report_type  volume
0   1           68,179,345       5
1   2  233,235,312,313,315       5
2   3                  171       2
3   4                  370       3
4   5              232,312      17

In [24]:
# renaming thr column values, sorting and changing the type to int
issue_info_data.issue_type = issue_info_data["issue_type"].str.replace("issue_type_","")
issue_info_data.issue_type = issue_info_data.issue_type.astype("int")
issue_info_data = issue_info_data.sort_values(by=["id","issue_type"])
issue_info_data.head()

       id  issue_type
10448   1           1
8351    2           2
10957   3           1
11106   4           4
7736    5           2

# Merging The Data

In [25]:
# Merging issue_info and assembly_line_merged_data based on id
df_issue_assembly = pd.merge(issue_info_data, assembly_line_data_merged, on="id", how="inner")
print(df_issue_assembly.shape)
print(df_issue_assembly.id.nunique())
df_issue_assembly.head()

(18552, 3)
18552

   id  issue_type assembly_line_type
0   1           1                6,8
1   2           2                  2
2   3           1                  8
3   4           4                  2
4   5           2                  2

In [100]:
# merging the issue_assembly_data with car_variant_merged_data based on id
df_issue_assembly_car = pd.merge(df_issue_assembly, car_variant_data_merged, on="id",how="inner")
print(df_issue_assembly_car.shape)
print(df_issue_assembly_car.id.nunique())
df_issue_assembly_car.head()

(18552, 4)
18552

   id  issue_type assembly_line_type car_variant
0   1           1                6,8       11,13
1   2           2                  2       34,35
2   3           1                  8          11
3   4           4                  2          47
4   5           2                  2       34,35

In [27]:
# Merging issue_assembly_car data with log_report_type_data_aggregated_merged data
df_issue_assembly_car_log = pd.merge(df_issue_assembly_car, log_report_type_data_aggregated_merged, 
                                     on="id",
                                     how="inner")
print(df_issue_assembly_car_log.shape)
print(df_issue_assembly_car_log.id.nunique())
df_issue_assembly_car_log.head()

(18552, 6)
18552

   id  issue_type assembly_line_type car_variant      log_report_type  volume
0   1           1                6,8       11,13           68,179,345       5
1   2           2                  2       34,35  233,235,312,313,315       5
2   3           1                  8          11                  171       2
3   4           4                  2          47                  370       3
4   5           2                  2       34,35              232,312      17

In [28]:
# Performing Label Encoding
encode_columns = ["assembly_line_type","car_variant","log_report_type"]
for i in range(0,len(df_issue_assembly_car_log.columns)):
    j=df_issue_assembly_car_log.columns[i]
    if(j in encode_columns):
        label_encoder = LabelEncoder()                  # converts the character array to numeric array. Assigns levels to unique labels.
        label_encoder.fit(df_issue_assembly_car_log[j])
        df_issue_assembly_car_log[j]  = label_encoder.transform(df_issue_assembly_car_log[j])
        df_issue_assembly_car_log[j]  = df_issue_assembly_car_log[j].astype('category')

In [29]:
# Creating the Train Data_set
df_train = pd.merge(train_data, df_issue_assembly_car_log, on="id",how="inner")
print(df_train.shape)
df_train.head()

(5904, 8)

,id,factory_number,downtime_duration,issue_type,assembly_line_type,car_variant,log_report_type,volume
0,13366,factory_number_415,1,4,8,245,1073,1
1,6783,factory_number_474,0,2,8,244,801,9
2,9519,factory_number_931,1,2,51,161,2151,11
3,10202,factory_number_700,1,1,51,32,1393,1
4,4555,factory_number_600,2,2,51,161,2175,44

In [30]:
# Creating the Test Data set
df_test = pd.merge(test_data, df_issue_assembly_car_log,on="id",how="inner")
print(df_test.shape) 
df_test.head()

(1477, 7)

,id,factory_number,issue_type,assembly_line_type,car_variant,log_report_type,volume
0,3340,factory_number_344,4,8,245,1073,2
1,14067,factory_number_933,1,8,180,71,1
2,1134,factory_number_16,1,51,32,254,16
3,27,factory_number_793,1,51,32,2035,5
4,9793,factory_number_344,2,8,244,849,24

In [31]:
# Printing the nunique values
print(df_train.log_report_type.nunique())
print(df_train.assembly_line_type.nunique())
print(df_train.car_variant.nunique())

1108
43
197

In [32]:
# Printing the nunique values
print(df_test.log_report_type.nunique())
print(df_test.assembly_line_type.nunique())
print(df_test.car_variant.nunique())

447
33
103

In [33]:
# Type casting the column back to int type
for col in encode_columns:
    df_train[col]= df_train[col].astype("int")
    df_test[col] = df_test[col].astype("int")

In [34]:
df_train.dtypes

id                     int64
factory_number        object
downtime_duration      int64
issue_type             int64
assembly_line_type     int64
car_variant            int64
log_report_type        int64
volume                 int64
dtype: object

In [35]:
df_test.dtypes

id                     int64
factory_number        object
issue_type             int64
assembly_line_type     int64
car_variant            int64
log_report_type        int64
volume                 int64
dtype: object

In [36]:
# renaming thr column values, sorting and changing the type to int both on train and test data
df_train.factory_number = df_train["factory_number"].str.replace("factory_number_","")
df_train.factory_number = df_train.factory_number.astype("int")
df_test.factory_number = df_test["factory_number"].str.replace("factory_number_","")
df_test.factory_number = df_test.factory_number.astype("int")

In [37]:
# chamging the data type of target variable to category
df_train.downtime_duration = df_train.downtime_duration.astype("category")

In [38]:
df_train.dtypes

id                       int64
factory_number           int64
downtime_duration     category
issue_type               int64
assembly_line_type       int64
car_variant              int64
log_report_type          int64
volume                   int64
dtype: object

In [39]:
df_test.dtypes

id                    int64
factory_number        int64
issue_type            int64
assembly_line_type    int64
car_variant           int64
log_report_type       int64
volume                int64
dtype: object

In [40]:
# Creating x_train
x_train = df_train.drop("downtime_duration",axis=1)

In [41]:
# Creating y_train
y_train = df_train.downtime_duration

In [42]:
# Building Decison Tree Classifier with CV
paramgrid = {"criterion": ["gini", "entropy"], 
               "max_depth": list(range(2,4,1)), 
              "min_samples_leaf": list(range(5,7,1)),
             "min_samples_split": [1,2,5,10]}
dt_gridsearch = GridSearchCV(DecisionTreeClassifier(class_weight="balanced", random_state=1234),
                             param_grid=paramgrid,n_jobs=-1,cv=10)
dt_gridsearch.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0,
                                              class_weight='balanced',
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=1234,
                                              splitter='best'),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'], 'max_depth': [2, 3],
                         'min_samples_leaf': [5, 6],
                         'min_samples_split': [1, 2, 5, 10]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [43]:
y_train_predict_dt_cv = dt_gridsearch.best_estimator_.predict(x_train)
y_test_predict_dt_cv = dt_gridsearch.best_estimator_.predict(df_test)

In [44]:
def classifcation_report_train_test(y_train, y_train_pred):

    print('''
            =========================================
               CLASSIFICATION REPORT FOR TRAIN DATA
            =========================================
            ''')
    print(classification_report(y_train, y_train_pred))

In [45]:
classifcation_report_train_test(y_train,y_train_predict_dt_cv)

            =========================================
               CLASSIFICATION REPORT FOR TRAIN DATA
            =========================================

              precision    recall  f1-score   support

           0       0.84      0.53      0.65      3827
           1       0.37      0.51      0.43      1496
           2       0.34      0.85      0.49       581

    accuracy                           0.56      5904
   macro avg       0.52      0.63      0.52      5904
weighted avg       0.67      0.56      0.58      5904

In [46]:
df_test_dt_cv = df_test.copy()
df_test_dt_cv["downtime_duration"] = y_test_predict_dt_cv
df_test_dt_cv.head()

,id,factory_number,issue_type,assembly_line_type,car_variant,log_report_type,volume,downtime_duration
0,3340,344,4,8,245,1073,2,0
1,14067,933,1,8,180,71,1,0
2,1134,16,1,51,32,254,16,1
3,27,793,1,51,32,2035,5,1
4,9793,344,2,8,244,849,24,0

In [47]:
df_test_dt_cv.drop(["factory_number", "issue_type", "assembly_line_type", "car_variant",
                   "log_report_type", "volume"], axis=1, inplace = True)

In [48]:
df_test_dt_cv.head()

      id  downtime_duration
0   3340                  0
1  14067                  0
2   1134                  1
3     27                  1
4   9793                  0

In [51]:
# Creating the csv file
df_test_dt_cv.to_csv("df_test_dt_cv.csv", sep=',',index=False)

In [52]:
# Building a Random Forest
param_grid = {"n_estimators" : [25,50,75],
           "max_depth" : [2,3,4,5],
           "min_samples_leaf" : [2,3,4,5],'max_features':[3,5,7],
           "class_weight" : ['balanced','balanced_subsample']}
rf_grid = GridSearchCV(RandomForestClassifier(n_jobs=-1,random_state=1),param_grid=param_grid,
                      cv= 10)
rf_grid.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=-1,
                                              oob_score=False, random_state=1,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'class_weight': ['balanced', 'balanced_subsample'],
                         'max_depth': [2, 3, 4, 5], 'max_features': [3, 5, 7],
                         'min_samples_leaf': [2, 3, 4, 5],
                         'n_estimators': [25, 50, 75]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [53]:
y_train_predict_rf_cv = rf_grid.best_estimator_.predict(x_train)
y_test_predict_rf_cv = rf_grid.best_estimator_.predict(df_test)

In [54]:
classifcation_report_train_test(y_train, y_train_predict_rf_cv)

            =========================================
               CLASSIFICATION REPORT FOR TRAIN DATA
            =========================================

              precision    recall  f1-score   support

           0       0.91      0.65      0.76      3827
           1       0.50      0.61      0.55      1496
           2       0.38      0.87      0.53       581

    accuracy                           0.66      5904
   macro avg       0.60      0.71      0.61      5904
weighted avg       0.75      0.66      0.68      5904

In [55]:
df_test_rf_cv = df_test.copy()
df_test_rf_cv["downtime_duration"] = y_test_predict_rf_cv

In [56]:
df_test_rf_cv.drop(["factory_number", "issue_type", "assembly_line_type", "car_variant",
                   "log_report_type", "volume"], axis=1, inplace = True)
df_test_rf_cv.head()

      id  downtime_duration
0   3340                  0
1  14067                  0
2   1134                  2
3     27                  0
4   9793                  0

In [57]:
# Creating the csv file
df_test_rf_cv.to_csv("df_test_rf_cv.csv",sep=",", index=False)

In [59]:
# Bulinding LightGBM classifier with CV
lgbm = LGBMClassifier(random_state=1234)
gridParams = {
    'learning_rate': [0.005, 0.01,0.1,0.3],# shrinkage rate at which model learns
    'n_estimators': [50,100,150],# Number of gradient boosted trees. Equivalent to number of boosting rounds.
    'num_leaves': [6,8,12,16], # large num_leaves helps improve accuracy but might lead to over-fitting
    'boosting_type' : ['gbdt', 'dart'], # for better accuracy 
    'max_bin':[255, 510], # large max_bin helps improve accuracy but might slow down training progress
    'random_state' : [500],# Random number seed.
    'colsample_bytree' : [0.64, 0.65, 0.66],# Subsample ratio of columns when constructing each tree.
    'subsample' : [0.7,0.75,0.8],# Subsample ratio of the training instance.
    'reg_alpha' : [1,1.2],# L1 regularization term on weights
    'reg_lambda' : [1,1.2,1.4],# L2 regularization term on weights
    }
grid_lgbm = GridSearchCV(lgbm, gridParams, verbose=10, cv=5, n_jobs=-1)
grid_lgbm.fit(x_train, y_train)

Fitting 5 folds for each of 10368 candidates, totalling 51840 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    5.3s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    5.5s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    6.0s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    7.5s
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:    8.2s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:   10.1s
[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:   11.0s
[Parallel(n_jobs=-1)]: Done 105 tasks      | elapsed:   12.1s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   13.0s
[Parallel(n_jobs=-1)]: Done 137 tasks      | elapsed:   14.3s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:   15.5s
[Parallel(n_jobs=-1)]: Done 173 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done 213 tasks      | elapsed:   20.0s
[Parallel(n_jobs=-1)]: Done 234 tasks      | elapsed:   21.7s
[Parallel(n_jobs=-1)]: Done 257 tasks      | elapsed:   23.6s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:   25.7s
[Parallel(n_jobs=-1)]: Done 305 tasks      | elapsed:   27.9s
[Parallel(n_jobs=-1)]: Done 330 tasks      | elapsed:   30.3s
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:   32.8s
[Parallel(n_jobs=-1)]: Done 384 tasks      | elapsed:   35.8s
[Parallel(n_jobs=-1)]: Done 413 tasks      | elapsed:   39.0s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:   42.1s
[Parallel(n_jobs=-1)]: Done 473 tasks      | elapsed:   45.9s
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:   49.6s
[Parallel(n_jobs=-1)]: Done 537 tasks      | elapsed:   53.6s
[Parallel(n_jobs=-1)]: Done 570 tasks      | elapsed:   58.5s
[Parallel(n_jobs=-1)]: Done 605 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 677 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 714 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 753 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 833 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 874 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 917 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 960 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 1005 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 1050 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 1097 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 1144 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 1193 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 1242 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 1293 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done 1344 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 1397 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 1450 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 1505 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 1560 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 1617 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 1674 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done 1733 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 1792 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 1853 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 1914 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 1977 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 2040 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 2105 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 2170 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 2237 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 2304 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 2373 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 2442 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 2513 tasks      | elapsed:  6.2min
[Parallel(n_jobs=-1)]: Done 2584 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 2657 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 2730 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 2805 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 2880 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 2957 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Done 3034 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 3113 tasks      | elapsed:  7.6min
[Parallel(n_jobs=-1)]: Done 3192 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 3273 tasks      | elapsed:  8.0min
[Parallel(n_jobs=-1)]: Done 3354 tasks      | elapsed:  8.1min
[Parallel(n_jobs=-1)]: Done 3437 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 3520 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done 3605 tasks      | elapsed:  8.5min
[Parallel(n_jobs=-1)]: Done 3690 tasks      | elapsed:  8.7min
[Parallel(n_jobs=-1)]: Done 3777 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done 3864 tasks      | elapsed:  9.1min
[Parallel(n_jobs=-1)]: Done 3953 tasks      | elapsed:  9.3min
[Parallel(n_jobs=-1)]: Done 4042 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 4133 tasks      | elapsed:  9.9min
[Parallel(n_jobs=-1)]: Done 4224 tasks      | elapsed: 10.3min
[Parallel(n_jobs=-1)]: Done 4317 tasks      | elapsed: 10.9min
[Parallel(n_jobs=-1)]: Done 4410 tasks      | elapsed: 11.1min
[Parallel(n_jobs=-1)]: Done 4505 tasks      | elapsed: 11.2min
[Parallel(n_jobs=-1)]: Done 4600 tasks      | elapsed: 11.4min
[Parallel(n_jobs=-1)]: Done 4697 tasks      | elapsed: 11.5min
[Parallel(n_jobs=-1)]: Done 4794 tasks      | elapsed: 11.7min
[Parallel(n_jobs=-1)]: Done 4893 tasks      | elapsed: 12.0min
[Parallel(n_jobs=-1)]: Done 4992 tasks      | elapsed: 12.2min
[Parallel(n_jobs=-1)]: Done 5093 tasks      | elapsed: 12.5min
[Parallel(n_jobs=-1)]: Done 5194 tasks      | elapsed: 12.7min
[Parallel(n_jobs=-1)]: Done 5297 tasks      | elapsed: 13.0min
[Parallel(n_jobs=-1)]: Done 5400 tasks      | elapsed: 13.4min
[Parallel(n_jobs=-1)]: Done 5505 tasks      | elapsed: 13.6min
[Parallel(n_jobs=-1)]: Done 5610 tasks      | elapsed: 13.8min
[Parallel(n_jobs=-1)]: Done 5717 tasks      | elapsed: 14.0min
[Parallel(n_jobs=-1)]: Done 5824 tasks      | elapsed: 14.2min
[Parallel(n_jobs=-1)]: Done 5933 tasks      | elapsed: 14.4min
[Parallel(n_jobs=-1)]: Done 6042 tasks      | elapsed: 14.7min
[Parallel(n_jobs=-1)]: Done 6153 tasks      | elapsed: 15.1min
[Parallel(n_jobs=-1)]: Done 6264 tasks      | elapsed: 15.5min
[Parallel(n_jobs=-1)]: Done 6377 tasks      | elapsed: 16.1min
[Parallel(n_jobs=-1)]: Done 6490 tasks      | elapsed: 16.6min
[Parallel(n_jobs=-1)]: Done 6605 tasks      | elapsed: 16.7min
[Parallel(n_jobs=-1)]: Done 6720 tasks      | elapsed: 16.9min
[Parallel(n_jobs=-1)]: Done 6837 tasks      | elapsed: 17.0min
[Parallel(n_jobs=-1)]: Done 6954 tasks      | elapsed: 17.2min
[Parallel(n_jobs=-1)]: Done 7073 tasks      | elapsed: 17.4min
[Parallel(n_jobs=-1)]: Done 7192 tasks      | elapsed: 17.7min
[Parallel(n_jobs=-1)]: Done 7313 tasks      | elapsed: 18.0min
[Parallel(n_jobs=-1)]: Done 7434 tasks      | elapsed: 18.3min
[Parallel(n_jobs=-1)]: Done 7557 tasks      | elapsed: 18.6min
[Parallel(n_jobs=-1)]: Done 7680 tasks      | elapsed: 18.8min
[Parallel(n_jobs=-1)]: Done 7805 tasks      | elapsed: 18.9min
[Parallel(n_jobs=-1)]: Done 7930 tasks      | elapsed: 19.1min
[Parallel(n_jobs=-1)]: Done 8057 tasks      | elapsed: 19.3min
[Parallel(n_jobs=-1)]: Done 8184 tasks      | elapsed: 19.6min
[Parallel(n_jobs=-1)]: Done 8313 tasks      | elapsed: 19.9min
[Parallel(n_jobs=-1)]: Done 8442 tasks      | elapsed: 20.2min
[Parallel(n_jobs=-1)]: Done 8573 tasks      | elapsed: 20.7min
[Parallel(n_jobs=-1)]: Done 8704 tasks      | elapsed: 21.1min
[Parallel(n_jobs=-1)]: Done 8837 tasks      | elapsed: 21.4min
[Parallel(n_jobs=-1)]: Done 8970 tasks      | elapsed: 21.5min

[Parallel(n_jobs=-1)]: Done 9105 tasks      | elapsed: 21.7min
[Parallel(n_jobs=-1)]: Done 9240 tasks      | elapsed: 21.9min
[Parallel(n_jobs=-1)]: Done 9377 tasks      | elapsed: 22.2min
[Parallel(n_jobs=-1)]: Done 9514 tasks      | elapsed: 22.4min
[Parallel(n_jobs=-1)]: Done 9653 tasks      | elapsed: 22.8min
[Parallel(n_jobs=-1)]: Done 9792 tasks      | elapsed: 23.0min
[Parallel(n_jobs=-1)]: Done 9933 tasks      | elapsed: 23.1min
[Parallel(n_jobs=-1)]: Done 10074 tasks      | elapsed: 23.3min
[Parallel(n_jobs=-1)]: Done 10217 tasks      | elapsed: 23.5min
[Parallel(n_jobs=-1)]: Done 10360 tasks      | elapsed: 23.8min
[Parallel(n_jobs=-1)]: Done 10505 tasks      | elapsed: 24.1min
[Parallel(n_jobs=-1)]: Done 10650 tasks      | elapsed: 24.5min
[Parallel(n_jobs=-1)]: Done 10797 tasks      | elapsed: 24.9min
[Parallel(n_jobs=-1)]: Done 10944 tasks      | elapsed: 25.0min
[Parallel(n_jobs=-1)]: Done 11093 tasks      | elapsed: 25.2min
[Parallel(n_jobs=-1)]: Done 11242 tasks      | elapsed: 25.4min
[Parallel(n_jobs=-1)]: Done 11393 tasks      | elapsed: 25.6min
[Parallel(n_jobs=-1)]: Done 11544 tasks      | elapsed: 25.9min
[Parallel(n_jobs=-1)]: Done 11697 tasks      | elapsed: 26.2min
[Parallel(n_jobs=-1)]: Done 11850 tasks      | elapsed: 40.8min
[Parallel(n_jobs=-1)]: Done 12005 tasks      | elapsed: 41.1min
[Parallel(n_jobs=-1)]: Done 12160 tasks      | elapsed: 41.2min
[Parallel(n_jobs=-1)]: Done 12317 tasks      | elapsed: 41.5min
[Parallel(n_jobs=-1)]: Done 12474 tasks      | elapsed: 41.7min
[Parallel(n_jobs=-1)]: Done 12633 tasks      | elapsed: 42.1min
[Parallel(n_jobs=-1)]: Done 12792 tasks      | elapsed: 42.5min
[Parallel(n_jobs=-1)]: Done 12953 tasks      | elapsed: 43.1min
[Parallel(n_jobs=-1)]: Done 13114 tasks      | elapsed: 43.3min
[Parallel(n_jobs=-1)]: Done 13277 tasks      | elapsed: 43.4min
[Parallel(n_jobs=-1)]: Done 13440 tasks      | elapsed: 43.7min
[Parallel(n_jobs=-1)]: Done 13605 tasks      | elapsed: 44.0min
[Parallel(n_jobs=-1)]: Done 13770 tasks      | elapsed: 44.3min
[Parallel(n_jobs=-1)]: Done 13937 tasks      | elapsed: 44.7min
[Parallel(n_jobs=-1)]: Done 14104 tasks      | elapsed: 45.1min
[Parallel(n_jobs=-1)]: Done 14273 tasks      | elapsed: 45.3min
[Parallel(n_jobs=-1)]: Done 14442 tasks      | elapsed: 45.6min
[Parallel(n_jobs=-1)]: Done 14613 tasks      | elapsed: 45.9min
[Parallel(n_jobs=-1)]: Done 14784 tasks      | elapsed: 46.2min
[Parallel(n_jobs=-1)]: Done 14957 tasks      | elapsed: 46.6min
[Parallel(n_jobs=-1)]: Done 15130 tasks      | elapsed: 47.2min
[Parallel(n_jobs=-1)]: Done 15305 tasks      | elapsed: 47.4min
[Parallel(n_jobs=-1)]: Done 15480 tasks      | elapsed: 47.6min
[Parallel(n_jobs=-1)]: Done 15657 tasks      | elapsed: 47.8min
[Parallel(n_jobs=-1)]: Done 15834 tasks      | elapsed: 48.1min
[Parallel(n_jobs=-1)]: Done 16013 tasks      | elapsed: 48.4min
[Parallel(n_jobs=-1)]: Done 16192 tasks      | elapsed: 48.8min
[Parallel(n_jobs=-1)]: Done 16373 tasks      | elapsed: 49.0min
[Parallel(n_jobs=-1)]: Done 16554 tasks      | elapsed: 49.2min
[Parallel(n_jobs=-1)]: Done 16737 tasks      | elapsed: 49.4min
[Parallel(n_jobs=-1)]: Done 16920 tasks      | elapsed: 49.8min
[Parallel(n_jobs=-1)]: Done 17105 tasks      | elapsed: 57.2min
[Parallel(n_jobs=-1)]: Done 17290 tasks      | elapsed: 57.9min
[Parallel(n_jobs=-1)]: Done 17477 tasks      | elapsed: 58.0min
[Parallel(n_jobs=-1)]: Done 17664 tasks      | elapsed: 58.2min
[Parallel(n_jobs=-1)]: Done 17853 tasks      | elapsed: 58.5min
[Parallel(n_jobs=-1)]: Done 18042 tasks      | elapsed: 58.8min
[Parallel(n_jobs=-1)]: Done 18233 tasks      | elapsed: 59.4min
[Parallel(n_jobs=-1)]: Done 18424 tasks      | elapsed: 60.0min
[Parallel(n_jobs=-1)]: Done 18617 tasks      | elapsed: 60.2min
[Parallel(n_jobs=-1)]: Done 18810 tasks      | elapsed: 60.5min
[Parallel(n_jobs=-1)]: Done 19005 tasks      | elapsed: 60.9min
[Parallel(n_jobs=-1)]: Done 19200 tasks      | elapsed: 61.5min
[Parallel(n_jobs=-1)]: Done 19397 tasks      | elapsed: 62.2min
[Parallel(n_jobs=-1)]: Done 19594 tasks      | elapsed: 62.5min
[Parallel(n_jobs=-1)]: Done 19793 tasks      | elapsed: 62.7min
[Parallel(n_jobs=-1)]: Done 19992 tasks      | elapsed: 63.1min
[Parallel(n_jobs=-1)]: Done 20193 tasks      | elapsed: 63.7min
[Parallel(n_jobs=-1)]: Done 20394 tasks      | elapsed: 64.2min
[Parallel(n_jobs=-1)]: Done 20597 tasks      | elapsed: 64.7min
[Parallel(n_jobs=-1)]: Done 20800 tasks      | elapsed: 64.9min
[Parallel(n_jobs=-1)]: Done 21005 tasks      | elapsed: 65.2min
[Parallel(n_jobs=-1)]: Done 21210 tasks      | elapsed: 65.8min
[Parallel(n_jobs=-1)]: Done 21417 tasks      | elapsed: 66.4min
[Parallel(n_jobs=-1)]: Done 21624 tasks      | elapsed: 67.1min
[Parallel(n_jobs=-1)]: Done 21833 tasks      | elapsed: 67.3min
[Parallel(n_jobs=-1)]: Done 22042 tasks      | elapsed: 67.7min
[Parallel(n_jobs=-1)]: Done 22253 tasks      | elapsed: 68.3min
[Parallel(n_jobs=-1)]: Done 22464 tasks      | elapsed: 68.8min
[Parallel(n_jobs=-1)]: Done 22677 tasks      | elapsed: 69.4min
[Parallel(n_jobs=-1)]: Done 22890 tasks      | elapsed: 69.7min
[Parallel(n_jobs=-1)]: Done 23105 tasks      | elapsed: 70.0min
[Parallel(n_jobs=-1)]: Done 23320 tasks      | elapsed: 70.4min
[Parallel(n_jobs=-1)]: Done 23537 tasks      | elapsed: 70.9min
[Parallel(n_jobs=-1)]: Done 23754 tasks      | elapsed: 71.6min
[Parallel(n_jobs=-1)]: Done 23973 tasks      | elapsed: 71.8min
[Parallel(n_jobs=-1)]: Done 24192 tasks      | elapsed: 72.1min
[Parallel(n_jobs=-1)]: Done 24413 tasks      | elapsed: 72.4min
[Parallel(n_jobs=-1)]: Done 24634 tasks      | elapsed: 72.9min
[Parallel(n_jobs=-1)]: Done 24857 tasks      | elapsed: 73.5min
[Parallel(n_jobs=-1)]: Done 25080 tasks      | elapsed: 73.7min
[Parallel(n_jobs=-1)]: Done 25305 tasks      | elapsed: 74.0min
[Parallel(n_jobs=-1)]: Done 25530 tasks      | elapsed: 74.4min
[Parallel(n_jobs=-1)]: Done 25757 tasks      | elapsed: 74.9min
[Parallel(n_jobs=-1)]: Done 25984 tasks      | elapsed: 75.5min
[Parallel(n_jobs=-1)]: Done 26213 tasks      | elapsed: 75.8min
[Parallel(n_jobs=-1)]: Done 26442 tasks      | elapsed: 76.4min
[Parallel(n_jobs=-1)]: Done 26673 tasks      | elapsed: 77.4min
[Parallel(n_jobs=-1)]: Done 26904 tasks      | elapsed: 79.0min
[Parallel(n_jobs=-1)]: Done 27137 tasks      | elapsed: 80.0min
[Parallel(n_jobs=-1)]: Done 27370 tasks      | elapsed: 80.5min
[Parallel(n_jobs=-1)]: Done 27605 tasks      | elapsed: 81.2min
[Parallel(n_jobs=-1)]: Done 27840 tasks      | elapsed: 82.5min
[Parallel(n_jobs=-1)]: Done 28077 tasks      | elapsed: 84.5min
[Parallel(n_jobs=-1)]: Done 28314 tasks      | elapsed: 84.8min
[Parallel(n_jobs=-1)]: Done 28553 tasks      | elapsed: 85.4min
[Parallel(n_jobs=-1)]: Done 28792 tasks      | elapsed: 86.3min
[Parallel(n_jobs=-1)]: Done 29033 tasks      | elapsed: 87.9min
[Parallel(n_jobs=-1)]: Done 29274 tasks      | elapsed: 89.3min
[Parallel(n_jobs=-1)]: Done 29517 tasks      | elapsed: 89.8min
[Parallel(n_jobs=-1)]: Done 29760 tasks      | elapsed: 91.1min
[Parallel(n_jobs=-1)]: Done 30005 tasks      | elapsed: 92.5min
[Parallel(n_jobs=-1)]: Done 30250 tasks      | elapsed: 94.6min
[Parallel(n_jobs=-1)]: Done 30497 tasks      | elapsed: 95.0min
[Parallel(n_jobs=-1)]: Done 30744 tasks      | elapsed: 95.6min
[Parallel(n_jobs=-1)]: Done 30993 tasks      | elapsed: 96.7min
[Parallel(n_jobs=-1)]: Done 31242 tasks      | elapsed: 98.4min
[Parallel(n_jobs=-1)]: Done 31493 tasks      | elapsed: 99.4min
[Parallel(n_jobs=-1)]: Done 31744 tasks      | elapsed: 99.9min
[Parallel(n_jobs=-1)]: Done 31997 tasks      | elapsed: 100.9min
[Parallel(n_jobs=-1)]: Done 32250 tasks      | elapsed: 102.9min
[Parallel(n_jobs=-1)]: Done 32505 tasks      | elapsed: 104.5min
[Parallel(n_jobs=-1)]: Done 32760 tasks      | elapsed: 104.9min
[Parallel(n_jobs=-1)]: Done 33017 tasks      | elapsed: 105.9min
[Parallel(n_jobs=-1)]: Done 33274 tasks      | elapsed: 107.5min
[Parallel(n_jobs=-1)]: Done 33533 tasks      | elapsed: 109.6min
[Parallel(n_jobs=-1)]: Done 33792 tasks      | elapsed: 110.0min
[Parallel(n_jobs=-1)]: Done 34053 tasks      | elapsed: 110.9min
[Parallel(n_jobs=-1)]: Done 34314 tasks      | elapsed: 112.2min

[Parallel(n_jobs=-1)]: Done 34577 tasks      | elapsed: 114.4min
[Parallel(n_jobs=-1)]: Done 34840 tasks      | elapsed: 114.8min
[Parallel(n_jobs=-1)]: Done 35105 tasks      | elapsed: 115.5min
[Parallel(n_jobs=-1)]: Done 35370 tasks      | elapsed: 116.9min
[Parallel(n_jobs=-1)]: Done 35637 tasks      | elapsed: 118.9min
[Parallel(n_jobs=-1)]: Done 35904 tasks      | elapsed: 119.4min
[Parallel(n_jobs=-1)]: Done 36173 tasks      | elapsed: 120.2min
[Parallel(n_jobs=-1)]: Done 36442 tasks      | elapsed: 121.4min
[Parallel(n_jobs=-1)]: Done 36713 tasks      | elapsed: 123.4min
[Parallel(n_jobs=-1)]: Done 36984 tasks      | elapsed: 123.8min
[Parallel(n_jobs=-1)]: Done 37257 tasks      | elapsed: 124.6min
[Parallel(n_jobs=-1)]: Done 37530 tasks      | elapsed: 125.9min
[Parallel(n_jobs=-1)]: Done 37805 tasks      | elapsed: 128.0min
[Parallel(n_jobs=-1)]: Done 38080 tasks      | elapsed: 128.5min
[Parallel(n_jobs=-1)]: Done 38357 tasks      | elapsed: 129.3min
[Parallel(n_jobs=-1)]: Done 38634 tasks      | elapsed: 130.6min
[Parallel(n_jobs=-1)]: Done 38913 tasks      | elapsed: 132.8min
[Parallel(n_jobs=-1)]: Done 39192 tasks      | elapsed: 133.2min
[Parallel(n_jobs=-1)]: Done 39473 tasks      | elapsed: 134.1min
[Parallel(n_jobs=-1)]: Done 39754 tasks      | elapsed: 135.5min
[Parallel(n_jobs=-1)]: Done 40037 tasks      | elapsed: 137.4min
[Parallel(n_jobs=-1)]: Done 40320 tasks      | elapsed: 137.9min
[Parallel(n_jobs=-1)]: Done 40605 tasks      | elapsed: 139.1min
[Parallel(n_jobs=-1)]: Done 40890 tasks      | elapsed: 140.8min
[Parallel(n_jobs=-1)]: Done 41177 tasks      | elapsed: 142.3min
[Parallel(n_jobs=-1)]: Done 41464 tasks      | elapsed: 142.8min
[Parallel(n_jobs=-1)]: Done 41753 tasks      | elapsed: 144.0min
[Parallel(n_jobs=-1)]: Done 42042 tasks      | elapsed: 145.9min
[Parallel(n_jobs=-1)]: Done 42333 tasks      | elapsed: 147.0min
[Parallel(n_jobs=-1)]: Done 42624 tasks      | elapsed: 147.7min
[Parallel(n_jobs=-1)]: Done 42917 tasks      | elapsed: 149.3min
[Parallel(n_jobs=-1)]: Done 43210 tasks      | elapsed: 151.7min
[Parallel(n_jobs=-1)]: Done 43505 tasks      | elapsed: 152.1min
[Parallel(n_jobs=-1)]: Done 43800 tasks      | elapsed: 153.0min
[Parallel(n_jobs=-1)]: Done 44097 tasks      | elapsed: 154.8min
[Parallel(n_jobs=-1)]: Done 44394 tasks      | elapsed: 156.4min
[Parallel(n_jobs=-1)]: Done 44693 tasks      | elapsed: 157.1min
[Parallel(n_jobs=-1)]: Done 44992 tasks      | elapsed: 158.3min
[Parallel(n_jobs=-1)]: Done 45293 tasks      | elapsed: 160.4min
[Parallel(n_jobs=-1)]: Done 45594 tasks      | elapsed: 161.4min
[Parallel(n_jobs=-1)]: Done 45897 tasks      | elapsed: 162.1min
[Parallel(n_jobs=-1)]: Done 46200 tasks      | elapsed: 163.6min
[Parallel(n_jobs=-1)]: Done 46505 tasks      | elapsed: 165.6min
[Parallel(n_jobs=-1)]: Done 46810 tasks      | elapsed: 166.1min
[Parallel(n_jobs=-1)]: Done 47117 tasks      | elapsed: 167.3min
[Parallel(n_jobs=-1)]: Done 47424 tasks      | elapsed: 169.3min
[Parallel(n_jobs=-1)]: Done 47733 tasks      | elapsed: 170.3min
[Parallel(n_jobs=-1)]: Done 48042 tasks      | elapsed: 171.0min
[Parallel(n_jobs=-1)]: Done 48353 tasks      | elapsed: 172.9min
[Parallel(n_jobs=-1)]: Done 48664 tasks      | elapsed: 175.7min
[Parallel(n_jobs=-1)]: Done 48977 tasks      | elapsed: 176.5min
[Parallel(n_jobs=-1)]: Done 49290 tasks      | elapsed: 178.1min
[Parallel(n_jobs=-1)]: Done 49605 tasks      | elapsed: 181.0min
[Parallel(n_jobs=-1)]: Done 49920 tasks      | elapsed: 182.4min
[Parallel(n_jobs=-1)]: Done 50237 tasks      | elapsed: 183.5min
[Parallel(n_jobs=-1)]: Done 50554 tasks      | elapsed: 185.5min
[Parallel(n_jobs=-1)]: Done 50873 tasks      | elapsed: 188.0min
[Parallel(n_jobs=-1)]: Done 51192 tasks      | elapsed: 188.8min
[Parallel(n_jobs=-1)]: Done 51513 tasks      | elapsed: 190.7min
[Parallel(n_jobs=-1)]: Done 51840 out of 51840 | elapsed: 194.1min finished

GridSearchCV(cv=5, error_score=nan,
             estimator=LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                      colsample_bytree=1.0,
                                      importance_type='split',
                                      learning_rate=0.1, max_depth=-1,
                                      min_child_samples=20,
                                      min_child_weight=0.001,
                                      min_split_gain=0.0, n_estimators=100,
                                      n_jobs=-1, num_leaves=31, objective=None,
                                      random_state=1234, reg_alpha=0.0,
                                      reg_lambda=0.0, silent=Tru...
             param_grid={'boosting_type': ['gbdt', 'dart'],
                         'colsample_bytree': [0.64, 0.65, 0.66],
                         'learning_rate': [0.005, 0.01, 0.1, 0.3],
                         'max_bin': [255, 510], 'n_estimators': [50, 100, 150],
                         'num_leaves': [6, 8, 12, 16], 'objective': ['binary'],
                         'random_state': [500], 'reg_alpha': [1, 1.2],
                         'reg_lambda': [1, 1.2, 1.4],
                         'subsample': [0.7, 0.75, 0.8]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=10)

In [60]:
y_train_predict_lgbm_cv = grid_lgbm.best_estimator_.predict(x_train)
y_test_predict_lgbm_cv = grid_lgbm.best_estimator_.predict(df_test)

In [61]:
classifcation_report_train_test(y_train, y_train_predict_lgbm_cv)

            =========================================
               CLASSIFICATION REPORT FOR TRAIN DATA
            =========================================

              precision    recall  f1-score   support

           0       0.86      0.92      0.89      3827
           1       0.75      0.63      0.68      1496
           2       0.73      0.74      0.73       581

    accuracy                           0.83      5904
   macro avg       0.78      0.76      0.77      5904
weighted avg       0.82      0.83      0.82      5904

In [62]:
df_test_lgbm_cv = df_test.copy() 
df_test_lgbm_cv["downtime_duration"] = y_test_predict_lgbm_cv

In [63]:
df_test_lgbm_cv.drop(["factory_number", "issue_type", "assembly_line_type", "car_variant",
                   "log_report_type", "volume"], axis=1, inplace = True)

In [64]:
df_test_lgbm_cv.head()

      id  downtime_duration
0   3340                  0
1  14067                  0
2   1134                  2
3     27                  0
4   9793                  0

In [65]:
# Creating the csv file
df_test_lgbm_cv.to_csv("df_test_lgbm_cv.csv", sep=",", index=False)

In [96]:
# Building Xgboost Classifier

params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.6, 0.8, 1.0],
        'colsample_bytree': [0.6, 0.8, 1.0],
        'max_depth': [3, 4, 5]
        }
model = XGBClassifier(n_estimators=200,learning_rate=0.02, random_state=1234)

In [98]:
gd_xgb = GridSearchCV(model, param_grid=params,n_jobs=-1,verbose=10,cv=10)
gd_xgb.fit(x_train, y_train)

Fitting 10 folds for each of 405 candidates, totalling 4050 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    6.7s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   11.0s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   13.3s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   19.6s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   24.0s
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:   30.5s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:   35.5s
[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:   44.1s
[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:   50.7s
[Parallel(n_jobs=-1)]: Done 105 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 137 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 173 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 213 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 234 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 257 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 305 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 330 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:  4.2min
[Parallel(n_jobs=-1)]: Done 384 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 413 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 473 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:  6.2min
[Parallel(n_jobs=-1)]: Done 537 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 570 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 605 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed:  7.7min
[Parallel(n_jobs=-1)]: Done 677 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 714 tasks      | elapsed:  8.7min
[Parallel(n_jobs=-1)]: Done 753 tasks      | elapsed:  9.2min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  9.9min
[Parallel(n_jobs=-1)]: Done 833 tasks      | elapsed: 10.4min
[Parallel(n_jobs=-1)]: Done 874 tasks      | elapsed: 10.8min
[Parallel(n_jobs=-1)]: Done 917 tasks      | elapsed: 11.3min
[Parallel(n_jobs=-1)]: Done 960 tasks      | elapsed: 11.9min
[Parallel(n_jobs=-1)]: Done 1005 tasks      | elapsed: 12.5min
[Parallel(n_jobs=-1)]: Done 1050 tasks      | elapsed: 13.1min
[Parallel(n_jobs=-1)]: Done 1097 tasks      | elapsed: 13.6min
[Parallel(n_jobs=-1)]: Done 1144 tasks      | elapsed: 14.1min
[Parallel(n_jobs=-1)]: Done 1193 tasks      | elapsed: 14.5min
[Parallel(n_jobs=-1)]: Done 1242 tasks      | elapsed: 15.1min
[Parallel(n_jobs=-1)]: Done 1293 tasks      | elapsed: 15.9min
[Parallel(n_jobs=-1)]: Done 1344 tasks      | elapsed: 16.6min
[Parallel(n_jobs=-1)]: Done 1397 tasks      | elapsed: 17.3min
[Parallel(n_jobs=-1)]: Done 1450 tasks      | elapsed: 17.9min
[Parallel(n_jobs=-1)]: Done 1505 tasks      | elapsed: 18.6min
[Parallel(n_jobs=-1)]: Done 1560 tasks      | elapsed: 19.5min
[Parallel(n_jobs=-1)]: Done 1617 tasks      | elapsed: 20.4min
[Parallel(n_jobs=-1)]: Done 1674 tasks      | elapsed: 21.1min
[Parallel(n_jobs=-1)]: Done 1733 tasks      | elapsed: 21.7min
[Parallel(n_jobs=-1)]: Done 1792 tasks      | elapsed: 22.5min
[Parallel(n_jobs=-1)]: Done 1853 tasks      | elapsed: 23.4min
[Parallel(n_jobs=-1)]: Done 1914 tasks      | elapsed: 24.2min
[Parallel(n_jobs=-1)]: Done 1977 tasks      | elapsed: 24.9min
[Parallel(n_jobs=-1)]: Done 2040 tasks      | elapsed: 25.8min
[Parallel(n_jobs=-1)]: Done 2105 tasks      | elapsed: 26.7min
[Parallel(n_jobs=-1)]: Done 2170 tasks      | elapsed: 27.8min
[Parallel(n_jobs=-1)]: Done 2237 tasks      | elapsed: 28.6min
[Parallel(n_jobs=-1)]: Done 2304 tasks      | elapsed: 29.5min
[Parallel(n_jobs=-1)]: Done 2373 tasks      | elapsed: 30.6min
[Parallel(n_jobs=-1)]: Done 2442 tasks      | elapsed: 31.8min
[Parallel(n_jobs=-1)]: Done 2513 tasks      | elapsed: 32.6min
[Parallel(n_jobs=-1)]: Done 2584 tasks      | elapsed: 33.6min
[Parallel(n_jobs=-1)]: Done 2657 tasks      | elapsed: 34.7min
[Parallel(n_jobs=-1)]: Done 2730 tasks      | elapsed: 35.8min
[Parallel(n_jobs=-1)]: Done 2805 tasks      | elapsed: 36.9min
[Parallel(n_jobs=-1)]: Done 2880 tasks      | elapsed: 38.1min
[Parallel(n_jobs=-1)]: Done 2957 tasks      | elapsed: 39.8min
[Parallel(n_jobs=-1)]: Done 3034 tasks      | elapsed: 41.0min
[Parallel(n_jobs=-1)]: Done 3113 tasks      | elapsed: 42.4min
[Parallel(n_jobs=-1)]: Done 3192 tasks      | elapsed: 43.9min
[Parallel(n_jobs=-1)]: Done 3273 tasks      | elapsed: 45.3min
[Parallel(n_jobs=-1)]: Done 3354 tasks      | elapsed: 46.5min
[Parallel(n_jobs=-1)]: Done 3437 tasks      | elapsed: 48.0min
[Parallel(n_jobs=-1)]: Done 3520 tasks      | elapsed: 49.8min
[Parallel(n_jobs=-1)]: Done 3605 tasks      | elapsed: 50.9min
[Parallel(n_jobs=-1)]: Done 3690 tasks      | elapsed: 52.4min
[Parallel(n_jobs=-1)]: Done 3777 tasks      | elapsed: 54.3min
[Parallel(n_jobs=-1)]: Done 3864 tasks      | elapsed: 55.5min
[Parallel(n_jobs=-1)]: Done 3953 tasks      | elapsed: 57.0min
[Parallel(n_jobs=-1)]: Done 4042 tasks      | elapsed: 58.8min
[Parallel(n_jobs=-1)]: Done 4050 out of 4050 | elapsed: 59.0min finished

GridSearchCV(cv=10, error_score=nan,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, gamma=None,
                                     gpu_id=None, importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=0.02, max_delta_step=None,
                                     max_depth=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n_esti...
                                     reg_lambda=None, scale_pos_weight=None,
                                     subsample=None, tree_method=None,
                                     validate_parameters=None, verbosity=None),
             iid='deprecated', n_jobs=-1,
             param_grid={'colsample_bytree': [0.6, 0.8, 1.0],
                         'gamma': [0.5, 1, 1.5, 2, 5], 'max_depth': [3, 4, 5],
                         'min_child_weight': [1, 5, 10],
                         'subsample': [0.6, 0.8, 1.0]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=10)

In [101]:
y_train_predict_xgb_cv = gd_xgb.best_estimator_.predict(x_train)
y_test_predict_xgb_cv = gd_xgb.best_estimator_.predict(df_test)

In [102]:
classifcation_report_train_test(y_train, y_train_predict_xgb_cv)

            =========================================
               CLASSIFICATION REPORT FOR TRAIN DATA
            =========================================

              precision    recall  f1-score   support

           0       0.80      0.91      0.85      3827
           1       0.68      0.46      0.55      1496
           2       0.64      0.59      0.61       581

    accuracy                           0.77      5904
   macro avg       0.71      0.65      0.67      5904
weighted avg       0.75      0.77      0.75      5904

In [106]:
# XgBoost with more parameters
model = XGBClassifier(random_state=1234)
gridParams = {
    'learning_rate': [0.005, 0.01,0.1,0.3],# shrinkage rate at which model learns
    'n_estimators': [50,100,150],# Number of gradient boosted trees. Equivalent to number of boosting rounds.
    'num_leaves': [6,8,12,16], # large num_leaves helps improve accuracy but might lead to over-fitting
    'boosting_type' : ['gbdt', 'dart'], # for better accuracy 
    'objective' : ['multi:softmax'],# mentioning objective as multiclass classification Model
    'max_bin':[255, 510], # large max_bin helps improve accuracy but might slow down training progress
    'random_state' : [500],# Random number seed.
    'colsample_bytree' : [0.64, 0.65, 0.66],# Subsample ratio of columns when constructing each tree.
    'subsample' : [0.7,0.75,0.8],# Subsample ratio of the training instance.
    'reg_alpha' : [1,1.2],# L1 regularization term on weights
    'reg_lambda' : [1,1.2,1.4],# L2 regularization term on weights
    'num_class' : [3],
    }
grid_xgb = GridSearchCV(model, gridParams, verbose=10, cv=5, n_jobs=-1)
grid_xgb.fit(x_train, y_train)

Fitting 5 folds for each of 10368 candidates, totalling 51840 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    7.2s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   12.8s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   15.0s
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:   19.6s
[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:   22.9s
[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:   25.9s
[Parallel(n_jobs=-1)]: Done 105 tasks      | elapsed:   29.4s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   32.4s
[Parallel(n_jobs=-1)]: Done 137 tasks      | elapsed:   36.6s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:   40.1s
[Parallel(n_jobs=-1)]: Done 173 tasks      | elapsed:   44.5s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   48.4s
[Parallel(n_jobs=-1)]: Done 213 tasks      | elapsed:   53.3s
[Parallel(n_jobs=-1)]: Done 234 tasks      | elapsed:   57.7s
[Parallel(n_jobs=-1)]: Done 257 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 305 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 330 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 384 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 413 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 473 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 537 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 570 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 605 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 677 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 714 tasks      | elapsed:  4.2min
[Parallel(n_jobs=-1)]: Done 753 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 833 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 874 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 917 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 960 tasks      | elapsed:  6.8min
[Parallel(n_jobs=-1)]: Done 1005 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 1050 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 1097 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 1144 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done 1193 tasks      | elapsed:  8.6min
[Parallel(n_jobs=-1)]: Done 1242 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done 1293 tasks      | elapsed:  9.0min
[Parallel(n_jobs=-1)]: Done 1344 tasks      | elapsed:  9.1min
[Parallel(n_jobs=-1)]: Done 1397 tasks      | elapsed:  9.3min
[Parallel(n_jobs=-1)]: Done 1450 tasks      | elapsed:  9.6min
[Parallel(n_jobs=-1)]: Done 1505 tasks      | elapsed: 10.0min
[Parallel(n_jobs=-1)]: Done 1560 tasks      | elapsed: 10.4min
[Parallel(n_jobs=-1)]: Done 1617 tasks      | elapsed: 10.9min
[Parallel(n_jobs=-1)]: Done 1674 tasks      | elapsed: 11.3min
[Parallel(n_jobs=-1)]: Done 1733 tasks      | elapsed: 11.8min
[Parallel(n_jobs=-1)]: Done 1792 tasks      | elapsed: 12.2min
[Parallel(n_jobs=-1)]: Done 1853 tasks      | elapsed: 12.9min
[Parallel(n_jobs=-1)]: Done 1914 tasks      | elapsed: 17.6min
[Parallel(n_jobs=-1)]: Done 1977 tasks      | elapsed: 18.3min
[Parallel(n_jobs=-1)]: Done 2040 tasks      | elapsed: 19.0min
[Parallel(n_jobs=-1)]: Done 2105 tasks      | elapsed: 19.7min
[Parallel(n_jobs=-1)]: Done 2170 tasks      | elapsed: 20.4min
[Parallel(n_jobs=-1)]: Done 2237 tasks      | elapsed: 20.6min
[Parallel(n_jobs=-1)]: Done 2304 tasks      | elapsed: 20.9min
[Parallel(n_jobs=-1)]: Done 2373 tasks      | elapsed: 21.1min
[Parallel(n_jobs=-1)]: Done 2442 tasks      | elapsed: 21.4min
[Parallel(n_jobs=-1)]: Done 2513 tasks      | elapsed: 21.7min
[Parallel(n_jobs=-1)]: Done 2584 tasks      | elapsed: 22.2min
[Parallel(n_jobs=-1)]: Done 2657 tasks      | elapsed: 22.7min
[Parallel(n_jobs=-1)]: Done 2730 tasks      | elapsed: 23.3min
[Parallel(n_jobs=-1)]: Done 2805 tasks      | elapsed: 23.8min
[Parallel(n_jobs=-1)]: Done 2880 tasks      | elapsed: 24.4min
[Parallel(n_jobs=-1)]: Done 2957 tasks      | elapsed: 25.3min
[Parallel(n_jobs=-1)]: Done 3034 tasks      | elapsed: 26.2min
[Parallel(n_jobs=-1)]: Done 3113 tasks      | elapsed: 27.1min
[Parallel(n_jobs=-1)]: Done 3192 tasks      | elapsed: 28.0min
[Parallel(n_jobs=-1)]: Done 3273 tasks      | elapsed: 28.6min
[Parallel(n_jobs=-1)]: Done 3354 tasks      | elapsed: 28.9min
[Parallel(n_jobs=-1)]: Done 3437 tasks      | elapsed: 29.2min
[Parallel(n_jobs=-1)]: Done 3520 tasks      | elapsed: 29.5min
[Parallel(n_jobs=-1)]: Done 3605 tasks      | elapsed: 29.9min
[Parallel(n_jobs=-1)]: Done 3690 tasks      | elapsed: 30.5min
[Parallel(n_jobs=-1)]: Done 3777 tasks      | elapsed: 31.1min
[Parallel(n_jobs=-1)]: Done 3864 tasks      | elapsed: 31.8min
[Parallel(n_jobs=-1)]: Done 3953 tasks      | elapsed: 32.4min
[Parallel(n_jobs=-1)]: Done 4042 tasks      | elapsed: 33.4min
[Parallel(n_jobs=-1)]: Done 4133 tasks      | elapsed: 34.4min
[Parallel(n_jobs=-1)]: Done 4224 tasks      | elapsed: 35.4min
[Parallel(n_jobs=-1)]: Done 4317 tasks      | elapsed: 36.4min
[Parallel(n_jobs=-1)]: Done 4410 tasks      | elapsed: 36.8min
[Parallel(n_jobs=-1)]: Done 4505 tasks      | elapsed: 37.2min
[Parallel(n_jobs=-1)]: Done 4600 tasks      | elapsed: 37.5min
[Parallel(n_jobs=-1)]: Done 4697 tasks      | elapsed: 37.9min
[Parallel(n_jobs=-1)]: Done 4794 tasks      | elapsed: 38.7min
[Parallel(n_jobs=-1)]: Done 4893 tasks      | elapsed: 39.4min
[Parallel(n_jobs=-1)]: Done 4992 tasks      | elapsed: 40.1min
[Parallel(n_jobs=-1)]: Done 5093 tasks      | elapsed: 41.1min
[Parallel(n_jobs=-1)]: Done 5194 tasks      | elapsed: 42.2min
[Parallel(n_jobs=-1)]: Done 5297 tasks      | elapsed: 43.3min
[Parallel(n_jobs=-1)]: Done 5400 tasks      | elapsed: 44.5min
[Parallel(n_jobs=-1)]: Done 5505 tasks      | elapsed: 44.9min
[Parallel(n_jobs=-1)]: Done 5610 tasks      | elapsed: 45.3min
[Parallel(n_jobs=-1)]: Done 5717 tasks      | elapsed: 45.7min
[Parallel(n_jobs=-1)]: Done 5824 tasks      | elapsed: 46.4min
[Parallel(n_jobs=-1)]: Done 5933 tasks      | elapsed: 47.2min
[Parallel(n_jobs=-1)]: Done 6042 tasks      | elapsed: 48.0min
[Parallel(n_jobs=-1)]: Done 6153 tasks      | elapsed: 127.7min
[Parallel(n_jobs=-1)]: Done 6264 tasks      | elapsed: 129.0min
[Parallel(n_jobs=-1)]: Done 6377 tasks      | elapsed: 130.6min
[Parallel(n_jobs=-1)]: Done 6490 tasks      | elapsed: 131.8min
[Parallel(n_jobs=-1)]: Done 6605 tasks      | elapsed: 132.2min
[Parallel(n_jobs=-1)]: Done 6720 tasks      | elapsed: 132.6min
[Parallel(n_jobs=-1)]: Done 6837 tasks      | elapsed: 133.1min
[Parallel(n_jobs=-1)]: Done 6954 tasks      | elapsed: 133.9min
[Parallel(n_jobs=-1)]: Done 7073 tasks      | elapsed: 134.8min
[Parallel(n_jobs=-1)]: Done 7192 tasks      | elapsed: 201.4min
[Parallel(n_jobs=-1)]: Done 7313 tasks      | elapsed: 202.7min
[Parallel(n_jobs=-1)]: Done 7434 tasks      | elapsed: 251.7min
[Parallel(n_jobs=-1)]: Done 7557 tasks      | elapsed: 253.1min
[Parallel(n_jobs=-1)]: Done 7680 tasks      | elapsed: 253.6min
[Parallel(n_jobs=-1)]: Done 7805 tasks      | elapsed: 254.1min
[Parallel(n_jobs=-1)]: Done 7930 tasks      | elapsed: 254.7min
[Parallel(n_jobs=-1)]: Done 8057 tasks      | elapsed: 255.8min
[Parallel(n_jobs=-1)]: Done 8184 tasks      | elapsed: 256.7min
[Parallel(n_jobs=-1)]: Done 8313 tasks      | elapsed: 257.8min
[Parallel(n_jobs=-1)]: Done 8442 tasks      | elapsed: 259.3min
[Parallel(n_jobs=-1)]: Done 8573 tasks      | elapsed: 260.7min
[Parallel(n_jobs=-1)]: Done 8704 tasks      | elapsed: 261.9min
[Parallel(n_jobs=-1)]: Done 8837 tasks      | elapsed: 262.5min
[Parallel(n_jobs=-1)]: Done 8970 tasks      | elapsed: 263.0min

[Parallel(n_jobs=-1)]: Done 9105 tasks      | elapsed: 263.9min
[Parallel(n_jobs=-1)]: Done 9240 tasks      | elapsed: 265.1min
[Parallel(n_jobs=-1)]: Done 9377 tasks      | elapsed: 266.4min
[Parallel(n_jobs=-1)]: Done 9514 tasks      | elapsed: 268.8min
[Parallel(n_jobs=-1)]: Done 9653 tasks      | elapsed: 270.8min
[Parallel(n_jobs=-1)]: Done 9792 tasks      | elapsed: 272.0min
[Parallel(n_jobs=-1)]: Done 9933 tasks      | elapsed: 272.9min
[Parallel(n_jobs=-1)]: Done 10074 tasks      | elapsed: 273.5min
[Parallel(n_jobs=-1)]: Done 10217 tasks      | elapsed: 274.8min
[Parallel(n_jobs=-1)]: Done 10360 tasks      | elapsed: 276.1min
[Parallel(n_jobs=-1)]: Done 10505 tasks      | elapsed: 277.5min
[Parallel(n_jobs=-1)]: Done 10650 tasks      | elapsed: 279.5min
[Parallel(n_jobs=-1)]: Done 10797 tasks      | elapsed: 281.6min
[Parallel(n_jobs=-1)]: Done 10944 tasks      | elapsed: 282.3min
[Parallel(n_jobs=-1)]: Done 11093 tasks      | elapsed: 283.0min
[Parallel(n_jobs=-1)]: Done 11242 tasks      | elapsed: 284.1min
[Parallel(n_jobs=-1)]: Done 11393 tasks      | elapsed: 285.3min
[Parallel(n_jobs=-1)]: Done 11544 tasks      | elapsed: 287.0min
[Parallel(n_jobs=-1)]: Done 11697 tasks      | elapsed: 288.7min
[Parallel(n_jobs=-1)]: Done 11850 tasks      | elapsed: 290.5min
[Parallel(n_jobs=-1)]: Done 12005 tasks      | elapsed: 291.3min
[Parallel(n_jobs=-1)]: Done 12160 tasks      | elapsed: 291.9min
[Parallel(n_jobs=-1)]: Done 12317 tasks      | elapsed: 292.8min
[Parallel(n_jobs=-1)]: Done 12474 tasks      | elapsed: 294.0min
[Parallel(n_jobs=-1)]: Done 12633 tasks      | elapsed: 295.3min
[Parallel(n_jobs=-1)]: Done 12792 tasks      | elapsed: 297.5min
[Parallel(n_jobs=-1)]: Done 12953 tasks      | elapsed: 299.4min
[Parallel(n_jobs=-1)]: Done 13114 tasks      | elapsed: 300.1min
[Parallel(n_jobs=-1)]: Done 13277 tasks      | elapsed: 300.8min
[Parallel(n_jobs=-1)]: Done 13440 tasks      | elapsed: 301.9min
[Parallel(n_jobs=-1)]: Done 13605 tasks      | elapsed: 303.1min
[Parallel(n_jobs=-1)]: Done 13770 tasks      | elapsed: 304.9min
[Parallel(n_jobs=-1)]: Done 13937 tasks      | elapsed: 307.2min
[Parallel(n_jobs=-1)]: Done 14104 tasks      | elapsed: 309.1min
[Parallel(n_jobs=-1)]: Done 14273 tasks      | elapsed: 309.9min
[Parallel(n_jobs=-1)]: Done 14442 tasks      | elapsed: 310.8min
[Parallel(n_jobs=-1)]: Done 14613 tasks      | elapsed: 312.3min
[Parallel(n_jobs=-1)]: Done 14784 tasks      | elapsed: 314.0min
[Parallel(n_jobs=-1)]: Done 14957 tasks      | elapsed: 316.0min
[Parallel(n_jobs=-1)]: Done 15130 tasks      | elapsed: 318.1min
[Parallel(n_jobs=-1)]: Done 15305 tasks      | elapsed: 318.8min
[Parallel(n_jobs=-1)]: Done 15480 tasks      | elapsed: 319.6min
[Parallel(n_jobs=-1)]: Done 15657 tasks      | elapsed: 321.2min
[Parallel(n_jobs=-1)]: Done 15834 tasks      | elapsed: 322.7min
[Parallel(n_jobs=-1)]: Done 16013 tasks      | elapsed: 324.9min
[Parallel(n_jobs=-1)]: Done 16192 tasks      | elapsed: 327.1min
[Parallel(n_jobs=-1)]: Done 16373 tasks      | elapsed: 327.9min
[Parallel(n_jobs=-1)]: Done 16554 tasks      | elapsed: 328.8min
[Parallel(n_jobs=-1)]: Done 16737 tasks      | elapsed: 330.4min
[Parallel(n_jobs=-1)]: Done 16920 tasks      | elapsed: 332.2min
[Parallel(n_jobs=-1)]: Done 17105 tasks      | elapsed: 334.6min
[Parallel(n_jobs=-1)]: Done 17290 tasks      | elapsed: 337.0min
[Parallel(n_jobs=-1)]: Done 17477 tasks      | elapsed: 337.8min
[Parallel(n_jobs=-1)]: Done 17664 tasks      | elapsed: 338.6min
[Parallel(n_jobs=-1)]: Done 17853 tasks      | elapsed: 340.2min
[Parallel(n_jobs=-1)]: Done 18042 tasks      | elapsed: 342.0min
[Parallel(n_jobs=-1)]: Done 18233 tasks      | elapsed: 344.3min
[Parallel(n_jobs=-1)]: Done 18424 tasks      | elapsed: 345.9min
[Parallel(n_jobs=-1)]: Done 18617 tasks      | elapsed: 346.6min
[Parallel(n_jobs=-1)]: Done 18810 tasks      | elapsed: 347.7min
[Parallel(n_jobs=-1)]: Done 19005 tasks      | elapsed: 349.1min
[Parallel(n_jobs=-1)]: Done 19200 tasks      | elapsed: 351.0min
[Parallel(n_jobs=-1)]: Done 19397 tasks      | elapsed: 353.2min
[Parallel(n_jobs=-1)]: Done 19594 tasks      | elapsed: 354.2min
[Parallel(n_jobs=-1)]: Done 19793 tasks      | elapsed: 355.0min
[Parallel(n_jobs=-1)]: Done 19992 tasks      | elapsed: 356.5min
[Parallel(n_jobs=-1)]: Done 20193 tasks      | elapsed: 358.6min
[Parallel(n_jobs=-1)]: Done 20394 tasks      | elapsed: 361.3min
[Parallel(n_jobs=-1)]: Done 20597 tasks      | elapsed: 363.1min
[Parallel(n_jobs=-1)]: Done 20800 tasks      | elapsed: 364.0min
[Parallel(n_jobs=-1)]: Done 21005 tasks      | elapsed: 365.3min
[Parallel(n_jobs=-1)]: Done 21210 tasks      | elapsed: 366.9min
[Parallel(n_jobs=-1)]: Done 21417 tasks      | elapsed: 369.3min
[Parallel(n_jobs=-1)]: Done 21624 tasks      | elapsed: 371.9min
[Parallel(n_jobs=-1)]: Done 21833 tasks      | elapsed: 372.7min
[Parallel(n_jobs=-1)]: Done 22042 tasks      | elapsed: 373.9min
[Parallel(n_jobs=-1)]: Done 22253 tasks      | elapsed: 375.6min
[Parallel(n_jobs=-1)]: Done 22464 tasks      | elapsed: 377.9min
[Parallel(n_jobs=-1)]: Done 22677 tasks      | elapsed: 380.5min
[Parallel(n_jobs=-1)]: Done 22890 tasks      | elapsed: 381.3min
[Parallel(n_jobs=-1)]: Done 23105 tasks      | elapsed: 382.5min
[Parallel(n_jobs=-1)]: Done 23320 tasks      | elapsed: 384.4min
[Parallel(n_jobs=-1)]: Done 23537 tasks      | elapsed: 386.9min
[Parallel(n_jobs=-1)]: Done 23754 tasks      | elapsed: 389.8min
[Parallel(n_jobs=-1)]: Done 23973 tasks      | elapsed: 390.7min
[Parallel(n_jobs=-1)]: Done 24192 tasks      | elapsed: 391.9min
[Parallel(n_jobs=-1)]: Done 24413 tasks      | elapsed: 393.7min
[Parallel(n_jobs=-1)]: Done 24634 tasks      | elapsed: 396.1min
[Parallel(n_jobs=-1)]: Done 24857 tasks      | elapsed: 398.7min
[Parallel(n_jobs=-1)]: Done 25080 tasks      | elapsed: 399.7min
[Parallel(n_jobs=-1)]: Done 25305 tasks      | elapsed: 401.3min
[Parallel(n_jobs=-1)]: Done 25530 tasks      | elapsed: 403.6min
[Parallel(n_jobs=-1)]: Done 25757 tasks      | elapsed: 406.6min
[Parallel(n_jobs=-1)]: Done 25984 tasks      | elapsed: 409.0min
[Parallel(n_jobs=-1)]: Done 26213 tasks      | elapsed: 409.9min
[Parallel(n_jobs=-1)]: Done 26442 tasks      | elapsed: 411.3min
[Parallel(n_jobs=-1)]: Done 26673 tasks      | elapsed: 413.0min
[Parallel(n_jobs=-1)]: Done 26904 tasks      | elapsed: 415.8min
[Parallel(n_jobs=-1)]: Done 27137 tasks      | elapsed: 417.4min
[Parallel(n_jobs=-1)]: Done 27370 tasks      | elapsed: 418.4min
[Parallel(n_jobs=-1)]: Done 27605 tasks      | elapsed: 421.3min
[Parallel(n_jobs=-1)]: Done 27840 tasks      | elapsed: 424.7min
[Parallel(n_jobs=-1)]: Done 28077 tasks      | elapsed: 428.6min
[Parallel(n_jobs=-1)]: Done 28314 tasks      | elapsed: 429.9min
[Parallel(n_jobs=-1)]: Done 28553 tasks      | elapsed: 431.5min
[Parallel(n_jobs=-1)]: Done 28792 tasks      | elapsed: 433.7min
[Parallel(n_jobs=-1)]: Done 29033 tasks      | elapsed: 437.4min
[Parallel(n_jobs=-1)]: Done 29274 tasks      | elapsed: 439.6min
[Parallel(n_jobs=-1)]: Done 29517 tasks      | elapsed: 440.6min
[Parallel(n_jobs=-1)]: Done 29760 tasks      | elapsed: 442.9min
[Parallel(n_jobs=-1)]: Done 30005 tasks      | elapsed: 445.4min
[Parallel(n_jobs=-1)]: Done 30250 tasks      | elapsed: 448.5min
[Parallel(n_jobs=-1)]: Done 30497 tasks      | elapsed: 449.6min
[Parallel(n_jobs=-1)]: Done 30744 tasks      | elapsed: 451.4min
[Parallel(n_jobs=-1)]: Done 30993 tasks      | elapsed: 453.7min
[Parallel(n_jobs=-1)]: Done 31242 tasks      | elapsed: 456.7min
[Parallel(n_jobs=-1)]: Done 31493 tasks      | elapsed: 458.3min
[Parallel(n_jobs=-1)]: Done 31744 tasks      | elapsed: 459.6min
[Parallel(n_jobs=-1)]: Done 31997 tasks      | elapsed: 461.8min
[Parallel(n_jobs=-1)]: Done 32250 tasks      | elapsed: 464.8min
[Parallel(n_jobs=-1)]: Done 32505 tasks      | elapsed: 467.2min
[Parallel(n_jobs=-1)]: Done 32760 tasks      | elapsed: 468.3min
[Parallel(n_jobs=-1)]: Done 33017 tasks      | elapsed: 470.3min
[Parallel(n_jobs=-1)]: Done 33274 tasks      | elapsed: 473.0min
[Parallel(n_jobs=-1)]: Done 33533 tasks      | elapsed: 475.8min
[Parallel(n_jobs=-1)]: Done 33792 tasks      | elapsed: 477.0min
[Parallel(n_jobs=-1)]: Done 34053 tasks      | elapsed: 479.0min

[Parallel(n_jobs=-1)]: Done 34314 tasks      | elapsed: 481.7min
[Parallel(n_jobs=-1)]: Done 34577 tasks      | elapsed: 484.8min
[Parallel(n_jobs=-1)]: Done 34840 tasks      | elapsed: 486.0min
[Parallel(n_jobs=-1)]: Done 35105 tasks      | elapsed: 487.8min
[Parallel(n_jobs=-1)]: Done 35370 tasks      | elapsed: 490.1min
[Parallel(n_jobs=-1)]: Done 35637 tasks      | elapsed: 493.3min
[Parallel(n_jobs=-1)]: Done 35904 tasks      | elapsed: 494.4min
[Parallel(n_jobs=-1)]: Done 36173 tasks      | elapsed: 496.1min
[Parallel(n_jobs=-1)]: Done 36442 tasks      | elapsed: 498.5min
[Parallel(n_jobs=-1)]: Done 36713 tasks      | elapsed: 501.4min
[Parallel(n_jobs=-1)]: Done 36984 tasks      | elapsed: 502.5min
[Parallel(n_jobs=-1)]: Done 37257 tasks      | elapsed: 504.2min
[Parallel(n_jobs=-1)]: Done 37530 tasks      | elapsed: 506.8min
[Parallel(n_jobs=-1)]: Done 37805 tasks      | elapsed: 510.2min
[Parallel(n_jobs=-1)]: Done 38080 tasks      | elapsed: 511.4min
[Parallel(n_jobs=-1)]: Done 38357 tasks      | elapsed: 513.4min
[Parallel(n_jobs=-1)]: Done 38634 tasks      | elapsed: 516.0min
[Parallel(n_jobs=-1)]: Done 38913 tasks      | elapsed: 519.2min
[Parallel(n_jobs=-1)]: Done 39192 tasks      | elapsed: 520.3min
[Parallel(n_jobs=-1)]: Done 39473 tasks      | elapsed: 522.6min
[Parallel(n_jobs=-1)]: Done 39754 tasks      | elapsed: 525.6min
[Parallel(n_jobs=-1)]: Done 40037 tasks      | elapsed: 528.3min
[Parallel(n_jobs=-1)]: Done 40320 tasks      | elapsed: 529.3min
[Parallel(n_jobs=-1)]: Done 40605 tasks      | elapsed: 531.6min
[Parallel(n_jobs=-1)]: Done 40890 tasks      | elapsed: 534.8min
[Parallel(n_jobs=-1)]: Done 41177 tasks      | elapsed: 536.9min
[Parallel(n_jobs=-1)]: Done 41464 tasks      | elapsed: 538.2min
[Parallel(n_jobs=-1)]: Done 41753 tasks      | elapsed: 540.5min
[Parallel(n_jobs=-1)]: Done 42042 tasks      | elapsed: 543.7min
[Parallel(n_jobs=-1)]: Done 42333 tasks      | elapsed: 545.3min
[Parallel(n_jobs=-1)]: Done 42624 tasks      | elapsed: 547.5min
[Parallel(n_jobs=-1)]: Done 42917 tasks      | elapsed: 550.4min
[Parallel(n_jobs=-1)]: Done 43210 tasks      | elapsed: 554.0min
[Parallel(n_jobs=-1)]: Done 43505 tasks      | elapsed: 555.1min
[Parallel(n_jobs=-1)]: Done 43800 tasks      | elapsed: 557.3min
[Parallel(n_jobs=-1)]: Done 44097 tasks      | elapsed: 560.3min
[Parallel(n_jobs=-1)]: Done 44394 tasks      | elapsed: 562.8min
[Parallel(n_jobs=-1)]: Done 44693 tasks      | elapsed: 564.1min
[Parallel(n_jobs=-1)]: Done 44992 tasks      | elapsed: 566.2min
[Parallel(n_jobs=-1)]: Done 45293 tasks      | elapsed: 569.9min
[Parallel(n_jobs=-1)]: Done 45594 tasks      | elapsed: 571.8min
[Parallel(n_jobs=-1)]: Done 45897 tasks      | elapsed: 573.8min
[Parallel(n_jobs=-1)]: Done 46200 tasks      | elapsed: 577.2min
[Parallel(n_jobs=-1)]: Done 46505 tasks      | elapsed: 580.3min
[Parallel(n_jobs=-1)]: Done 46810 tasks      | elapsed: 581.5min
[Parallel(n_jobs=-1)]: Done 47117 tasks      | elapsed: 584.2min
[Parallel(n_jobs=-1)]: Done 47424 tasks      | elapsed: 588.1min
[Parallel(n_jobs=-1)]: Done 47733 tasks      | elapsed: 590.1min
[Parallel(n_jobs=-1)]: Done 48042 tasks      | elapsed: 591.8min
[Parallel(n_jobs=-1)]: Done 48353 tasks      | elapsed: 594.6min
[Parallel(n_jobs=-1)]: Done 48664 tasks      | elapsed: 597.6min
[Parallel(n_jobs=-1)]: Done 48977 tasks      | elapsed: 598.8min
[Parallel(n_jobs=-1)]: Done 49290 tasks      | elapsed: 603.5min
[Parallel(n_jobs=-1)]: Done 49605 tasks      | elapsed: 606.8min
[Parallel(n_jobs=-1)]: Done 49920 tasks      | elapsed: 608.5min
[Parallel(n_jobs=-1)]: Done 50237 tasks      | elapsed: 610.7min
[Parallel(n_jobs=-1)]: Done 50554 tasks      | elapsed: 613.7min
[Parallel(n_jobs=-1)]: Done 50873 tasks      | elapsed: 616.7min
[Parallel(n_jobs=-1)]: Done 51192 tasks      | elapsed: 618.2min
[Parallel(n_jobs=-1)]: Done 51513 tasks      | elapsed: 620.8min
[Parallel(n_jobs=-1)]: Done 51840 out of 51840 | elapsed: 624.6min finished

[13:34:35] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:480:
Parameters: { boosting_type, num_leaves } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

GridSearchCV(cv=5, error_score=nan,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, gamma=None,
                                     gpu_id=None, importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=None, max_delta_step=None,
                                     max_depth=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n_estim...
                         'colsample_bytree': [0.64, 0.65, 0.66],
                         'learning_rate': [0.005, 0.01, 0.1, 0.3],
                         'max_bin': [255, 510], 'n_estimators': [50, 100, 150],
                         'num_class': [3], 'num_leaves': [6, 8, 12, 16],
                         'objective': ['multi:softmax'], 'random_state': [500],
                         'reg_alpha': [1, 1.2], 'reg_lambda': [1, 1.2, 1.4],
                         'subsample': [0.7, 0.75, 0.8]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=10)

In [107]:
y_train_xgb_pm = grid_xgb.best_estimator_.predict(x_train)
y_test_xgb_pm = grid_xgb.best_estimator_.predict(df_test)

In [108]:
classifcation_report_train_test(y_train, y_train_xgb_pm)

            =========================================
               CLASSIFICATION REPORT FOR TRAIN DATA
            =========================================

              precision    recall  f1-score   support

           0       0.90      0.94      0.92      3827
           1       0.83      0.74      0.78      1496
           2       0.81      0.78      0.80       581

    accuracy                           0.88      5904
   macro avg       0.85      0.82      0.83      5904
weighted avg       0.87      0.88      0.87      5904

In [109]:
y_test_xgb_cv_pm = df_test.copy()
y_test_xgb_cv_pm["downtime_duration"] = y_test_xgb_pm

In [110]:
y_test_xgb_cv_pm.drop(["factory_number", "issue_type", "assembly_line_type", "car_variant",
                   "log_report_type", "volume"], axis=1, inplace = True)

In [111]:
y_test_xgb_cv_pm.head()

      id  downtime_duration
0   3340                  0
1  14067                  0
2   1134                  2
3     27                  0
4   9793                  0

In [112]:
y_test_xgb_cv_pm.to_csv("y_test_xgb_cv_pm.csv", sep=",", index=False)

# Further Suggestion

In This Data set we have an indirect mapping between id, assembly_line_type, car_variant and log_report_type. if we had a direct mapping, our data would have been more granular and the models would have made better predictions . For Example we don't have a mapping like what all car_variant are there for a particular assembly_line_type or what all log_report_type are there for a car_variant

if we had such a data with direct mapping, we can improve the model predictions

With time constraint at hand, I wasn't able to improve it further, but Another approach that can help n improving the model further is by adding counts of assembly_line_type, Car_variant, log_report_type with respect to each id. Adding these features, I believe will improve the model further.